* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.main-header {
  background: linear-gradient(0deg, #cc4380, #fb6c75);
  .container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    vertical-align: middle;
    .logo {
      img {
        width: 80px;
        height: 80px;
      }
    }
    .main-nav {
      display: flex;
      margin: auto;
      a {
        font-size: 1.5rem;
        margin: 0px 30px;
        position: relative;
        transition: 0.3s;

        &:after {
          content: "";
          position: absolute;
          left: 50%;
          right: 50%;
          bottom: -5px;
          height: 0;
          border-bottom: 1px solid white;
          transform: translateY(0px);
          transition: 0.3s;
        }
        &:hover {
          transform: translateY(-5px);
          &:after {
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
}
