* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.wrap {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  .item {
    width: 25%;
    height: 400px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .txt {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.6);
      color: rgb(255, 255, 255);
      transition: 0.5s;
      h2 {
        font-weight: 1000;
        margin-bottom: 0.5rem;
        font-size: 3rem;
        &:after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          margin: 10px 0;
          background-color: #ff0;
          transition: width 0.5s 0.2s;
        }
      }
      p {
        font-size: 1.5rem;
      }
    }

    &:hover {
      .txt {
        background-color: rgba(0, 0, 0, 0);
        h2:after {
          width: 100%;
        }
      }
    }
  }
}
