* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#e66465, #9198e5) fixed center center / 100% 100%;
}

.wrap {
  flex-direction: column;
  margin: auto;
  width: 90vw;
  padding: 5vh 10vw;
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    & > :first-child {
      margin-right: -10%;
    }
    &:nth-child(1) {
      .txt {
        background-color: rgba(240, 174, 193, 0.7);
      }
    }
    &:nth-child(2) {
      .txt {
        background-color: rgba(42, 253, 208, 0.7);
      }
    }
    &:nth-child(3) {
      .txt {
        background-color: rgba(254, 201, 121, 0.7);
      }
    }
    &:nth-child(4) {
      .txt {
        background-color: rgba(149, 219, 214, 0.7);
      }
    }
    .pic,
    .txt {
      width: 55%;
    }
    .pic {
      img {
        width: 100%;
        vertical-align: middle;
      }
    }
    .txt {
      background: rgb(255, 165, 62);
      padding: 30px;
      z-index: 1;
      position: relative;
      h2 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 20px;
      }
      p {
        font-size: 1.25rem;
        line-height: 1.5;
      }
    }
  }
}
